/* variables */
:root {
  --main-font: Helvetica, Calibri, sans-serif;
  --nav-link: #4d1d18;
  --nav-hover: #555555;
  --main-heading: #87423c;
  --main-heading-size: 36px;
  --sub-heading: #4d1d18;
  --sub-heading-size: 24px;
  --content-lh: 150%;
  --content-link: #87423c;
  --footer-link: #87423c;
  /* theme colours */
  --primary-colour: #682721ff;
  --primary-light: #9c706dff;
  --primary-mid: #c9c7c8ff;
  --secondary-dark: #333b33ff;
  --light-grey: #ccbdaaff;
}
html {
  min-height: 100vh;
}
body {
  font-family: var(--main-font);
  background-color: var(--primary-mid);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
}

h1 {
  color: var(--main-heading);
  font-size: var(--main-heading-size);
}

h2 {
  color: var(--sub-heading);
  font-size: var(--sub-heading-size);
}

.header {
  background-color: var(--primary-light);
  padding: 0.5em;
  display: grid;
  /* place-items: center; */
  grid-template-rows: auto auto;
}

.logo {
  width: 300px;
}
.home-link {
  justify-self: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.navigation a {
  text-decoration: none;
  color: var(--nav-link);
  padding: 0.8em;
}

.navigation a:hover {
  color: var(--nav-hover);
}

.content {
  line-height: var(--content-lh);
}

.content a {
  color: var(--content-link);
}

.footer {
  color: var(--footer-link);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.secondary-nav {
  grid-column-start: 1;
  grid-row-start: 2;
}

.social {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
}

.copyright {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: end;
}